.wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  height: 55px;
}

.logo {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo i {
  font-size: 24px;
  color: #ff5722;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 30px;
  margin-top: 4px;
  margin-bottom: -5px;
}

.nav,
.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  margin-left: 7px;
}

.nav img {
    width: 30px;
    height: 30px;
}
.nav i,
.user i {
  font-size: 18px;
  color: #666;
  margin-right: 10px;
}

.nav span,
.user span {
  font-size: 16px;
  color: #666;
}


.element {
  display: block;
  box-sizing: border-box;
  height: 220px;
  width: 500px;

}
.content {
  display: flex;
  padding: 9px;
  background-color: #f2f2f2;
}

.left {
  margin-top: -15px;
}

.left{
  width: 35%;
  background-color: #f2f2f2;
  /* padding: 20px; */
  border-radius: 8px;
  margin: 10px;
}
.right {
  width: 65%;
  background-color: #fff;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.myChart {
    max-width: 600px; 
    margin: auto;
}

.date-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
}

.date-range span {
  font-size: 14px;
  color: #333;
}

.date-range i {
  font-size: 18px;
  color: gray;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  margin-bottom: 1px;
}

.chart {
  height: 300px;
  position: relative;
}

.chart canvas {
  width: 100%;
  height: 100%;
}

.legend {
  display: flex;
  align-items: center;
  bottom: -19px;
  left: 8px;
  right: 526px;
  margin-left: 38px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: -4px;
}

.legend-item i {
  font-size: 12px;
  margin-right: 5px;
  margin-right: 15px;
}

.legend-item span {
  font-size: 12px;
  color: #666;
  margin-right: 30px;
}

.products {
  margin-top: -5px;
}

.products .title {
  margin-bottom: 10px;
}

.products .table {
  width:100%;
  border-collapse: collapse;
  color: #050505;
  font-size: 10px;
}

.products .table th,
.products .table td {
  padding: 10px;
  text-align: left;
}

.products .table th {
  background-color: #f2f2f2;
}

.right .title {
  margin-bottom: 10px;
}

.search {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: -11px;
  border-radius: 8px;
 
  ;
  
}


.right-layout {
  display: flex;
  margin-bottom: 10px;
}

.right-layout .actions{
  justify-content: flex-end;
  margin-left: 300px;
  height: 20px;

}
.search-filter{
  display: flex;
}
.search-icon{
  margin-left: 16px;
}

.filter select{
 
  display: flex;
  color:black;
  height: 35px;
  font-size: 15px;
}

.search i {
  font-size: 18px;
  color: #666;
  margin-right: 20px;
}

.search input {
  border: none;
  outline: none;
  padding: 25px;
  font-size: 15px;
  color: #333;
}

.search select {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  color: #333;
  margin-left: 10px;
  border-radius: 4px;
  background-color: #f2f2f2;
  appearance: none;
}

.table-container {
  overflow-x: auto;
  font-size: 10px;
}

.table-container .table {
  width: 100%;
  border-collapse: collapse;
}

.table-container .table th,
.table-container .table td {
  padding: 10px;
  text-align: left;
  color: #000000;
}

.table-container .table th {
  background-color: #f2f2f2;
  color: #000000;
}

.table-container .table .fas {
  font-size: 16px;
  color: #000000;
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: -557px;
}

.pagination i,
.pagination span {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.content.buton{
  color: #050505;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: -72px;
  padding-right : 10px;
}

.btn {
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.btn-primary {
  background-color: #00a9ff;
}

.btn-danger {
  background-color: #ff5722;
}

.btn-info {
  background-color: #00bcd4;
}

.btn-success {
  background-color: #4caf50;
}


.notification {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    top: -11px;
    right: 2px;
    padding: 1px 1px 1px 1px;
    border-radius: 204%;
    background-color: rgb(52, 131, 221);
    font-size: 10px;
}
.left {
  display: flex;
  flex-direction: column;
  height: 100%; /* Atur tinggi elemen left sesuai kebutuhan */
}

.left-top {
  flex: 1;
  border-bottom: 1px solid #ccc; /* Garis pembatas antara atas dan bawah */
  padding: 8px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}

.left-bottom {
  flex: 1;
  padding-top: 20px;
  overflow-y: auto; /* Agar tabel bisa di-scroll jika tinggi konten lebih besar dari container */
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 22px;
}
.pagination .status {
  margin-left: -548px;
  font-size: 13px;
}

